@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
 --breakpoint-xs: 320px;   
  --breakpoint-sm: 480px;   
  --breakpoint-md: 768px;   
  --breakpoint-lg: 1024px;  
  --breakpoint-xl: 1280px;  
  --breakpoint-2xl: 1536px; 


  --color-white: #FFFFFF;
  --color-purple: #002482;
  --color-black: #272727;
  --color-gray: #848484;
  --color-darkblack: #000000;
  --color-lightgray: #646464;
  --color-blue:  #00398F;
  --color-green:  #0A8200;
  --color-darkred:  #A8112E;

   --font-roboto: "Roboto", sans-serif; 
}

body {
 
  font-family: var(--font-roboto);
}

.slick-dots li.slick-active div {
  width: 12px;       /* bigger than normal dot */
  height: 12px;
  background-color: #00398F; /* yellow for active */
}

/* app/globals.css or any global CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
